<%= simple_form_for @marker, :html => { :class => 'form-vertical' } do |f| %>
	<div class="form-inputs">
		<%= f.input :name %>
	</div>

	<div class="form-actions">
		<%= f.button :submit, :class => 'btn-primary' %>
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
			markers_path, :class => 'btn btn-default' %>
	</div>
<% end %>
